.navbar-nav .nav-link {
    cursor: pointer;
    font-weight: 500;
    color: #f8f9fa;
    transition: 0.2s ease;
  }
  
  .navbar-nav .dropdown-menu {
    min-width: 200px;
    z-index: 1000;
    background-color: #fff;
    border-radius: 6px;
    padding: 0.5rem 0;
  }
  
  .dropdown-menu .dropdown-item {
    color: #212529;
    font-weight: 500;
    padding: 0.5rem 1rem;
  }
  
  .dropdown-menu .dropdown-item:hover {
    background-color: #f0f0f0;
    color: #0d6efd;
  }
  